.ConsultingPage
{
    width: 1440px;
    height: 2345px;
    position: relative;
}

.ConsultingPage1
{
    width: 1440px;
    height: 2345px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
}

.BusinessDiscussion1
{
    width: 919px;
    height: 1115px;
    left: 521px;
    top: -380px;
    position: absolute;
}

.Picture
{
    width: 1437px;
    height: 735px;
    left: 2px;
    top: 0px;
    position: absolute;
}

.Frame2
{
    width: 1440px;
    left: 0px;
    top: 87px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}

.Picture1
{
    width: 1440px;
    height: 648px;
    position: relative;
}

.Rectangle1
{
    width: 648px;
    height: 1440px;
    left: 0px;
    top: 648px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    background: linear-gradient(180deg, #BB2525 37%, rgba(187, 37, 37, 0.75) 74%, rgba(187, 37, 37, 0) 100%);
}

.Text
{
    width: 679px;
    height: 172px;
    left: 97px;
    top: 341px;
    position: absolute;
}

.P1
{
    left: 0px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: "Poppins";
    font-weight: 800;
    word-wrap: break-word;
}

.P2
{
    width: 564px;
    height: 57px;
    left: 1px;
    top: 115px;
    position: absolute;
    text-align: justify;
    color: white;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    word-wrap: break-word;
}

.Header
{
    width: 1440px;
    height: 88px;
    left: 2px;
    top: 0px;
    position: absolute;
    background: #2B2A4C;
}

.HeaderRight
{
    left: 945px;
    top: 38px;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    display: inline-flex;
}

.NavList
{
    height: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.Link
{
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    display: flex;
}

.LinkItem
{
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 22px;
    word-wrap: break-word;
}

.Logo
{
    width: 79px;
    height: 31px;
    left: 120px;
    top: 32px;
    position: absolute;
}

.Abuse
{
    left: 0px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 900;
    word-wrap: break-word;
}

.Shield
{
    left: 14px;
    top: 17px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 900;
    word-wrap: break-word;
}

.BlogCardsV2
{
    width: 1440px;
    height: 1434px;
    padding-left: 167px;
    padding-right: 167px;
    padding-top: 80px;
    padding-bottom: 80px;
    left: 2px; top: 790px;
    position: absolute;
    background: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.Headings
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.Spacer
{
    width: 24px;
    height: 24px;
    position: relative;
    opacity: 0;
}

.Px
{
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F1F3F7;
    border: 1px #6D758F solid;
}

.Text1
{
    left: 4px;
    top: 7px;
    position: absolute;
    text-align: center;
    color: #6D758F;
    font-size: 12px;
    font-family: "Inter";
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.96px;
    word-wrap: break-word;
}

.Grid
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.BlogCard
{
    width: 1106px;
    padding-right: 48px; 
    background: white;
    box-shadow: 0px 1px 4px rgba(24.73, 32.61, 60.56, 0.08);
    border-radius: 8px;
    border: 1px #E1E4ED solid;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.ImageWrapper
{
    width: 514.61px;
    height: 413px;
    position: relative;
    background: #F1F3F7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Picture2
{
    width: 515px;
    height: 416px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.Content
{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
}

.Paragraph
{
    width: 488px;
    text-align: justify;
    color: black;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}

.Spacer1
{
    width: 64px;
    height: 64px;
    position: relative;
    opacity: 0;
}

.Px1
{
    width: 64px;
    height: 64px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F1F3F7;
    border: 1px #6D758F solid;
}

.Text2
{
    left: 15px;
    top: 27.50px;
    position: absolute;
    text-align: center;
    color: #6D758F;
    font-size: 12px;
    font-family: "Inter";
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.96px;
    word-wrap: break-word;
}

.Top
{
    width: 1108px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.HeadingH2
{
    color: black;
    font-size: 36px;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word;
}

.Divider
{
    width: 1106px;
    height: 0px;
    border: 1px #E1E4ED solid;
}

.Spacer2
{
    width: 40px;
    height: 40px;
    position: relative;
    opacity: 0;
}

.Px2
{
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F1F3F7;
    border: 1px #6D758F solid;
}

.Text3
{
    left: 12px;
    top: 15.50px;
    position: absolute;
    text-align: center;
    color: #6D758F;
    font-size: 12px;
    font-family: "Inter";
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.96px;
    word-wrap: break-word;
}

.Grid1
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    display: flex;
}

.Grid3Col
{
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    display: inline-flex;
}

.BlogCardV3
{
    width: 354px;
    background: white;
    box-shadow: 0px 1px 4px rgba(24.73, 32.61, 60.56, 0.08);
    border-radius: 8px;
    border: 1px #E1E4ED solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.ImageReplace
{
    width: 354px;
    height: 228px;
    position: relative;
    background: #BB2525;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Picture3, .Picture4, .Picture5, .Picture6, .Picture7, .Picture8
{
    width: 354px;
    height: 228px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.Grid2
{
    align-self: stretch;
    height: 133px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.Bottom
{
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.Badge
{
    padding: 10px;
    background: #F8FAFF;
    border-radius: 3px;
    overflow: hidden;
    border: 1px #F1F3F7 solid;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.BadgeText
{
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    display: flex;
}

.CardTitle
{
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
}

.Spacer3
{
    width: 16px;
    height: 16px;
    position: relative;
    opacity: 0;
}

.Px3
{
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F1F3F7;
    border: 1px #6D758F solid;
}

.HeadingH3
{
    align-self: stretch;
    color: black;
    font-size: 20px;
    font-family: "Inter";
    font-weight: 800;
    line-height: 28px;
    word-wrap: break-word;
}

.IconSquareImage
{
    width: 66px;
    height: 66px;
    left: 144px;
    top: 87px;
    position: absolute;
    box-shadow: 0px 2.749999761581421px 8.249999046325684px rgba(24.73, 32.61, 60.56, 0.14);
}

.Title
{
    left: 169px;
    top: 818px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word;
}

.FooterV15
{
    width: 1440px;
    height: 121px;
    left: 0px;
    top: 2224px;
    position: absolute;
    background: #2B2A4C;
    border-top: 1px #F1F3F7 solid;
}

.FooterBottom
{
    width: 1145px;
    padding-top: 24px;
    padding-bottom: 24px;
    left: 120px;
    top: 26px;
    position: absolute;
    justify-content: space-between;
    align-items: center; 
    display: inline-flex;
}

.Copyright
{
    text-align: center;
    color: #B4B9C9;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.FooterRight
{
    width: 544px;
    height: 24px;
    position: relative;
}

.HeaderBottomLeft
{
    left: 255px;
    top: 6px;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    display: inline-flex;
}

.NavList1
{
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: flex;
}

