.ConsultingSection
{
    width: 1440px;
    height: 1637px;
    position: relative;
}

.ConsultingSection1
{
    width: 1440px;
    height: 1637px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
}

.Picture
{
    width: 969px;
    height: 735px;
    left: 708px;
    top: 0px;
    position: absolute;
}

.Picture1
{
    width: 1440px;
    height: 735px;
    left: 2px;
    top: 0px;
    position: absolute
}

.Frame2
{
    width: 1440px;
    left: 0px;
    top: 87px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}

.Picture2
{
    width: 1440px;
    height: 648px;
    position: relative;
}

.Rectangle
{
    width: 648px;
    height: 1440px;
    left: 0px;
    top: 648px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    background: linear-gradient(180deg, #BB2525 37%, rgba(187, 37, 37, 0.75) 74%, rgba(187, 37, 37, 0) 100%);
}

.Text
{
    width: 679px;
    height: 172px;
    left: 97px;
    top: 341px;
    position: absolute;
}

.Consulting
{
    left: 0px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 120px;
    font-family: "Poppins";
    font-weight: 700;
    word-wrap: break-word;
}

.Text1
{
    width: 564px;
    height: 57px;
    left: 1px;
    top: 115px;
    position: absolute;
    text-align: justify;
    color: white;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 500;
    word-wrap: break-word;
}

.Header
{
    width: 1440px;
    height: 88px;
    left: 2px;
    top: 0px;
    position: absolute;
    background: #2B2A4C;
}

.HeaderRight
{
    left: 945px;
    top: 38px;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    display: inline-flex;
}

.NavList
{
    height: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.Link
{
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    display: flex;
}

.LinkItem
{
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 22px;
    word-wrap: break-word;
}

.Logo
{
    width: 79px;
    height: 31px;
    left: 120px;
    top: 32px;
    position: absolute;
}

.Abuse
{
    left: 0px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 900;
    word-wrap: break-word;
}

.Shield
{
    left: 14px;
    top: 17px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 900;
    word-wrap: break-word;
}

.FooterV15
{
    width: 1440px;
    height: 121px;
    left: 0px;
    top: 2224px;
    position: absolute;
    background: #2B2A4C;
    border-top: 1px #F1F3F7 solid;
}

.FooterBottom
{
    width: 1145px;
    padding-top: 24px;
    padding-bottom: 24px;
    left: 120px;
    top: 26px;
    position: absolute;
    justify-content: space-between;
    align-items: center; 
    display: inline-flex;
}

.Copyright
{
    text-align: center;
    color: #B4B9C9;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.FooterRight
{
    width: 544px;
    height: 24px;
    position: relative;
}

.HeaderBottomLeft
{
    left: 255px;
    top: 6px;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    display: inline-flex;
}

.NavList1
{
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: flex;
}

.ContentSection
{
    width: 1440px;
    padding-left: 167px;
    padding-right: 167px;
    padding-top: 80px;
    padding-bottom: 80px;
    left: -1px; top: 817px;
    position: absolute;
    background: white;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.Grid
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.HeadingH2
{
    color: #6D758F;
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word;
}

.Spacer
{
    width: 24px;
    height: 24px;
    position: relative;
    opacity: 0;
}

.Px
{
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F1F3F7;
    border: 1px #6D758F solid;
}

.Text1
{
    left: 4px;
    top: 7px;
    position: absolute;
    text-align: center;
    color: #6D758F;
    font-size: 12px;
    font-family: "Inter";
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.96px;
    word-wrap: break-word;
}

.Paragraph
{
    width: 461.68px;
    text-align: justify;
    color: #6D758F;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.Grid1
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
    display: flex;
}

.ListItem
{
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    display: inline-flex;
}

.Education
{
    width: 40px;
    height: 30px;
}

.Display3
{
    color: #6D758F;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 22px;
    word-wrap: break-word;
}

.AveragePrice
{
    width: 40px;
    height: 30px;
}

.GoodQuality
{
    width: 40px;
    height: 26px;
}

.Display4
{
    width: 113px;
}

.Display5
{
    color: #6D758F;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 22px;
    word-wrap: break-word;
}

.Display6
{
    color: #6D758F;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.Spacer1
{
    width: 32px;
    height: 32px;
    position: relative;
    opacity: 0;
}

.Px1
{
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F1F3F7;
    border: 1px #6D758F solid;
}

.Text2
{
    left: 8px;
    top: 11.50px;
    position: absolute;
    text-align: center;
    color: #6D758F;
    font-size: 12px;
    font-family: "Inter";
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.96px;
    word-wrap: break-word;
}

.ButtonRow
{
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}

.PrimaryButton
{
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: #1053FF;
    box-shadow: 0px 1px 4px rgba(24.73, 32.61, 60.56, 0.08);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    display: flex;
}

.ButtonText
{
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
}

.LineRoundedArrowRigth
{
    width: 12px;
    height: 12px;
    position: relative;
}

.ArrowRigth
{
    width: 8.40px;
    height: 8.24px;
    left: 1.80px;
    top: 1.88px;
    position: absolute;
}

.Vector
{
    width: 4.32px;
    height: 8.24px;
    left: 4.08px;
    top: -0px;
    position: absolute;
    border: 1.29px white solid;
}

.Veector1
{
    width: 8.40px;
    height: 0px;
    left: 0px;
    top: 4.12px;
    position: absolute;
    border: 1.29px white solid;
}

.ImageReplace
{
    width: 564px;
    height: 452px;
    position: relative;
    background: #BB2525;
    border-radius: 8px;
    overflow: hidden;
}

.Picture3
{
    width: 564px;
    height: 452px;
    left: 0px;
    top: 0px;
    position: absolute;
}